[Unit]
Description=Liferay + Tomcat Server
After=network.target

[Service]
Type=forking
Restart=on-failure
RestartSec=5
User=centos

Environment="JRE_HOME=/usr"
Environment="CATALINA_TMPDIR=/home/centos/{{ archive.files[0] }}tomcat-9.0.56/temp"
Environment="CLASSPATH=/home/centos/{{ archive.files[0] }}tomcat-9.0.56/bin/bootstrap.jar:/home/centos/{{ archive.files[0] }}tomcat-9.0.56/bin/tomcat-juli.jar"
Environment="CATALINA_BASE=/home/centos/{{ archive.files[0] }}tomcat-9.0.56"
Environment="CATALINA_HOME=/home/centos/{{ archive.files[0] }}tomcat-9.0.56"
Environment="CATALINA_OPTS=-Dfile.encoding=UTF-8 -Djava.locale.providers=JRE,COMPAT,CLDR -Djava.net.preferIPv4Stack=true -Duser.timezone=GMT -Xms2560m -Xmx2560m -XX:MaxNewSize=1536m -XX:MaxMetaspaceSize=768m -XX:MetaspaceSize=768m -XX:NewSize=1536m -XX:SurvivorRatio=7"

ExecStart=/home/centos/{{ archive.files[0] }}tomcat-9.0.56/bin/startup.sh
ExecStop=/home/centos/{{ archive.files[0] }}tomcat-9.0.56/bin/shutdown.sh


[Install]
WantedBy=multi-user.target