jdbc.default.driverClassName=org.postgresql.Driver
jdbc.default.username={{ db_user }}
jdbc.default.password={{ db_password }}
jdbc.default.url=jdbc:postgresql://{{ postgresql_ip }}:5432/{{ db_name }}
liferay.home=/home/centos/{{ archive.files[0][:-1] }}
setup.wizard.enabled=false

admin.email.from.address={{ liferay_email }}@{{ liferay_email_domain }}
admin.email.from.name={{ liferay_first_name }} {{ liferay_last_name }}
company.default.locale=en_US
company.default.time.zone=UTC
company.default.web.id={{ liferay_email_domain }}
default.admin.email.address.prefix={{ liferay_email }}
default.admin.first.name={{ liferay_first_name }}
default.admin.last.name={{ liferay_last_name }}